@(text: String)(email: String)
<!DOCTYPE html>
<html>
<head>

</head>
<body>

<div style="background-color:#5CADFF;
    color:white;
    text-align:center;
    font-family:arial;
    font-size:360%;
    padding:1px">
    <p>El sentido de la educación.</p>
</div>
<div style="
    font-family:arial;
font-size:110%;
color:#5CADFF;
    padding-left:20px;
padding-top:6px">
    <p><b>Email de la persona que envía el correo: </b><i>@email</i></p>
</div>
<div style="
    font-family:arial;
    font-size:110%;
    color:#4079B2;
    padding-left:30px">
    <p>
        @text
    </p>
    <p>
        Quiero que conozcas esta página web sobre el sentido de la educación y la tecnología. Sigue el siguiente link:
        <a href="http://calm-refuge-9900.herokuapp.com/">link</a>
    </p>
</div>




<div style="background-color:#5CADFF;
    color:white;
    clear:both;
    text-align:center;
    font-family:arial;
    font-size:80%;
   padding:5px">
    Un mensaje de El sentido de la educación
</div>

</body>
</html>