<!DOCTYPE HTML>
<html>
<head>
    <title>Generous a Charity Category Flat Bootstarp Resposive Website Template | Home :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Generous Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
    Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="@routes.Assets.versioned("css/bootstrap.css")" rel='stylesheet' type='text/css' />
    <!-- Custom Theme files -->
    <link href="@routes.Assets.versioned("css/style.css")" rel='stylesheet' type='text/css' />
    <script src="@routes.Assets.versioned("js/jquery.min.js")"> </script>
    <!--webfonts-->
    <link href='http://fonts.googleapis.com/css?family=Poiret+One|Open+Sans:400italic,600italic,400,300,600,700' rel='stylesheet' type='text/css'>
</head>
<body>
<!--start-home-->
<div id="home" class="header" id="#inicio">
    <div class="header-top">
        <div class="container">
            <div class="logo">
                <a href="@routes.Application.index()"><h1>El sentido de la educaci<span>ón</span></h1></a>
            </div>

            <div class="clearfix"></div>
            <span class="menu"></span>
            <div class="top-menu">
                <ul class="cl-effect-16">
                    <li><a class="active" href="@routes.Application.index()" data-hover="Inicio">Inicio</a></li>
                    <li><a href="#about" data-hover="Idea">Idea</a></li>
                    <li><a href="#ventajas" data-hover="Ventajas">Ventajas</a></li>
                    <li><a href="#como" data-hover="¿Cómo influye?">¿Cómo influye?</a></li>
                    <li><a href="#mooc" data-hover="MOOC">MOOC</a></li>
                    <li><a href="@routes.Application.personas()" data-hover="Personas">Personas</a></li>
                    <li><a href="@routes.Application.correo()" data-hover="Comparte este mensaje">Comparte este mensaje</a></li>
                    <div class="clearfix"> </div>
                </ul>
            </div>
            <!-- script-for-menu -->
            <script>
					$(document).ready(function(){
						$("span.menu").click(function(){
							$(".top-menu ul").slideToggle(300);
						});
					});
				</script>
    <!--End-top-nav-script-->
    </div>
    </div>
		<div class="clearfix"></div>
			<div class="banner two">
			 </div>
   </div>
   	<!--start-news-->
		<div class="news two">
		    <div class="container">
				<h3 class="tittle">Blogs</h3>
			 <div class="news-article">
			  <div class="col-md-6 article-post">
				<a href="single.html" ><img src="@routes.Assets.versioned("images/sk.png")" alt="img07"/></a>
				<div class="col-md-3 post-meta">
					<div class="meta-icon">
						<div class="pic">
						 <a href="single.html" > <i class="glyphicon glyphicon-picture"></i></a>
						</div>
					</div>

					<div class="clearfix"> </div>
				  </div>
				<div class="col-md-9 post-details">
					<a href="single.html"><h3>Salman Khan</h3></a>
					<p>Fue nombrado por TIMES " una de las 100 personas más influyentes del mundo." Fundador de Khan Academy, una herramienta de aprendizaje en línea gratuita que está apareciendo en las aulas y en los hogares de todo el mundo. Sus primeros videos fueron creados para ayudar a su primo pequeño con álgebra, pero pronto se hizo popular con otros estudiantes, y el proyecto simplemente comenzó a crecer así. Hoy en día, Khan Academy es el hogar de más de 3.000 lecciones que permiten a los estudiantes a aprender , practicar y obtener ayuda a su propio ritmo . Con programas piloto en las escuelas de California gana impulso para ser un método bastante común para ayudar a los estudiantes con una amplia gama de temas educativos .</p>
					<div>
						<a class="blog hvr-shutter-out-horizontal" href="https://www.linkedin.com/in/khanacademy" role="button">Conoce más sobre él</a>
					</div>
				</div>
				<!--post-details-->	
				<div class="clearfix"> </div>
				</div>
				<!--2-->					
				 <div class="col-md-6 article-post">
				<a href="single.html" ><img src="@routes.Assets.versioned("images/bg.jpg")" alt="img07"/></a>
				<div class="col-md-3 post-meta">
					<div class="meta-icon">
						<div class="pic">
							 <a href="single.html" > <i class="glyphicon glyphicon-picture"></i></a>
						</div>
					</div>

					<div class="clearfix"> </div>
				  </div>
				<div class="col-md-9 post-details">
					<a href="single.html"><h3>Bill Gates</h3></a>
					<p>A través de una fundación, Bill y Melinda Gates, estan teniendo un impacto muy grande en las escuelas de EEUU. A través de los cientos de millones de dólares de la fundación reparte en fondos para proyectos educativos, este hombre es una de las personas que más ha contribuido a mejorar la educación a través de la tecnología. En 2010 , los proyectos editoriales en el Centro de Investigación de Educación nombró a Gates, la persona más influyente en la política de la educación durante la década anterior, y por buenas razones . Durante ese período de tiempo, Gates contribuyó con más de $ 1.2 mil millones para los esfuerzos de reforma de la escuela secundaria , ayudó a llevar la tecnología a las escuelas que lo necesitaban , y abogó con cierto éxito para cambiar el sistema de la escuela secundaria en los EE.UU y en el mundo.</p>
					<div>
						<a class="blog hvr-shutter-out-horizontal" href="https://www.linkedin.com/in/williamhgates" role="button">Conoce más sobre él</a>
					</div>
				</div>
				<!--post-details-->	
				<div class="clearfix"> </div>
				</div>
				<!--3-->					
				 <div class="col-md-6 article-post">
				<a href="single.html" ><img src="@routes.Assets.versioned("images/an.jpg")" alt="img07"/></a>
				<div class="col-md-3 post-meta">
					<div class="meta-icon">
						<div class="pic">
							 <a href="single.html" > <i class="glyphicon glyphicon-picture"></i></a>
						</div>
					</div>

					<div class="clearfix"> </div>
				  </div>
				<div class="col-md-9 post-details">
					<a href="single.html"><h3>Andrew Ng</h3></a>
					<p>Andrew comenzó el programa Stanford Engineering Everywhere (SEE), el cual en 2008, dispuso una serie de cursos de Stanford online, para su visión gratuita. Ng enseñó uno de los cursos, Machine Learning, el cual consistía en videos de sus clases y contó con más de 100.000 estudiantes registrados en primera instancia. Esta clase se convirtió en uno de los primeros cursos abiertos en línea masivos (MOOC) por un profesor de Stanford. Esto lo llevó a fundar la plataforma Coursera en el 2012.</p>
					<div>
						<a class="blog hvr-shutter-out-horizontal" href="https://www.linkedin.com/in/andrewyng" role="button">Conoce más sobre él</a>
					</div>
				</div>
				<!--post-details-->	
				 <div class="clearfix"> </div>
				</div>	
				<!--4-->					
				 <div class="col-md-6 article-post">
				<a href="single.html" ><img src="@routes.Assets.versioned("images/st.jpg")" alt="img07"/></a>
				<div class="col-md-3 post-meta">
					<div class="meta-icon">
						<div class="pic">
						 	 <a href="single.html" > <i class="glyphicon glyphicon-picture"></i></a>
						</div>
					</div>

					<div class="clearfix"> </div>
				  </div>
				<div class="col-md-9 post-details">
					<a href="single.html"><h3>Sebastian Thurn</h3></a>
					<p>Es el fundador de Udacity y uno de los pienoeros en cursos masivos online. Es un gran apacionado de la educación, y en su perfil se puede encontrar la siguiente referencia que el escribió: "Mi sueño es que todos en el mundo puedan tener una educación de clase mundial . Mi sueño es que todo el mundo pueda tener una oportunidad justa. Cuando esto suceda, el mundo será un lugar mejor. Habrá menos guerras y menos pobreza . No me imagino trabajando en nada más grande que el empoderamiento de todas las personas en el mundo a través de una mejor educación." </p>
					<div>
						<a class="blog hvr-shutter-out-horizontal" href="https://www.linkedin.com/pub/sebastian-thrun/73/b2/59a" role="button">Conoce más sobre él</a>
					</div>
				</div>
				<!--post-details-->	
				<div class="clearfix"> </div>
				</div>
				<!--5-->					

			    <div class="clearfix"> </div>
				<!--start-blog-pagenate-->

			<!--//End-blog-pagenate-->
				
			</div>
		</div>
	</div>
	<!--footer-->
    <div class="footer text-center">
        <div class="container">
            <div class="footer-grids">
                <div class="col-md-4 footer-text">
                    <h3>Acerca de este trabajo</h3>
                    <p>Esta página web fue implementada para el curso El sentido de la educación, de la Universidad de los Andes como proyecto reflexivo.</p>
                    <p>Fue implementado por Claudia Daniela Bedoya Motta, estudiante de Ingeniería Industrial e Ingeniería de Sistemas.</p>
                </div>
                <div class="">
                    <h3></h3>
                    <div class="">
                        <div class="flickr-grid">
                            <a href="#"><img src="@routes.Assets.versioned("images/clau.jpg")" alt=""/></a>
                        </div>

                        <div class=""> </div>


                    </div>
                </div>


                <div class="clearfix"> </div>
            </div>
            <div class="copy">
                <p>&copy; El sentido de la educación 2015-20 | Implementado por Claudia Bedoya </p>
            </div>
		<!--footer-->
	</div>
</div>
			<!--start-smoth-scrolling-->
			<script type="text/javascript">
								jQuery(document).ready(function($) {
									$(".scroll").click(function(event){		
										event.preventDefault();
										$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
									});
								});
								</script>
							<!--start-smoth-scrolling-->
						<script type="text/javascript">
									$(document).ready(function() {
										/*
										var defaults = {
								  			containerID: 'toTop', // fading element id
											containerHoverID: 'toTopHover', // fading element hover id
											scrollSpeed: 1200,
											easingType: 'linear' 
								 		};
										*/
										
										$().UItoTop({ easingType: 'easeOutQuart' });
										
									});
								</script>
		<a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>

</body>
</html>